<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huacai.assisting.mapper.ProductsMapper">

    <resultMap type="Products" id="ProductsResult">
        <result property="productsId"    column="products_id"    />
        <result property="name"    column="name"    />
        <result property="subtitle"    column="subtitle"    />
        <result property="price"    column="price"    />
        <result property="image"    column="image"    />
        <result property="origin"    column="origin"    />
        <result property="shipFrom"    column="shipFrom"    />
        <result property="inventory"    column="inventory"    />
        <result property="specs"    column="specs"    />
        <result property="expire"    column="expire"    />
        <result property="storage"    column="storage"    />
        <result property="edible"    column="edible"    />
        <result property="detail"    column="detail"    />
        <result property="userId"    column="user_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="userName"    column="user_name"    />
    </resultMap>

    <sql id="selectProductsVo">
        select products_id, name, subtitle, price, image, origin, shipFrom, inventory, specs, expire, storage, edible, detail, user_id, create_time from products
    </sql>

    <select id="selectProductsList" parameterType="Products" resultMap="ProductsResult">
        select p.products_id, p.name, p.subtitle, p.price, p.image, p.origin, p.shipFrom,
               p.inventory, p.specs, p.expire, p.storage, p.edible, p.detail, p.user_id, p.create_time,
               u.user_name
        from products p
        left join sys_user u on p.user_id = u.user_id
        <where>
            <if test="name != null  and name != ''"> and p.name like concat('%', #{name}, '%')</if>
            <if test="origin != null  and origin != ''"> and p.origin = #{origin}</if>
            <if test="minPrice != null"> and p.price &gt;= #{minPrice}</if>
            <if test="maxPrice != null"> and p.price &lt;= #{maxPrice}</if>
            <if test="userId != null "> and p.user_id = #{userId}</if>
            <if test="userName != null  and userName != ''"> and u.user_name like concat('%', #{userName}, '%')</if>
        </where>
        order by p.create_time desc
    </select>

    <select id="selectProductsByProductsId" parameterType="String" resultMap="ProductsResult">
        <include refid="selectProductsVo"/>
        where products_id = #{productsId}
    </select>

    <insert id="insertProducts" parameterType="Products">
        insert into products
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="productsId != null">products_id,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="subtitle != null and subtitle != ''">subtitle,</if>
            <if test="price != null">price,</if>
            <if test="image != null and image != ''">image,</if>
            <if test="origin != null and origin != ''">origin,</if>
            <if test="shipFrom != null and shipFrom != ''">shipFrom,</if>
            <if test="inventory != null">inventory,</if>
            <if test="specs != null and specs != ''">specs,</if>
            <if test="expire != null and expire != ''">expire,</if>
            <if test="storage != null and storage != ''">storage,</if>
            <if test="edible != null and edible != ''">edible,</if>
            <if test="detail != null and detail != ''">detail,</if>
            <if test="userId != null">user_id,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="productsId != null">#{productsId},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="subtitle != null and subtitle != ''">#{subtitle},</if>
            <if test="price != null">#{price},</if>
            <if test="image != null and image != ''">#{image},</if>
            <if test="origin != null and origin != ''">#{origin},</if>
            <if test="shipFrom != null and shipFrom != ''">#{shipFrom},</if>
            <if test="inventory != null">#{inventory},</if>
            <if test="specs != null and specs != ''">#{specs},</if>
            <if test="expire != null and expire != ''">#{expire},</if>
            <if test="storage != null and storage != ''">#{storage},</if>
            <if test="edible != null and edible != ''">#{edible},</if>
            <if test="detail != null and detail != ''">#{detail},</if>
            <if test="userId != null">#{userId},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateProducts" parameterType="Products">
        update products
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="subtitle != null and subtitle != ''">subtitle = #{subtitle},</if>
            <if test="price != null">price = #{price},</if>
            <if test="image != null and image != ''">image = #{image},</if>
            <if test="origin != null and origin != ''">origin = #{origin},</if>
            <if test="shipFrom != null and shipFrom != ''">shipFrom = #{shipFrom},</if>
            <if test="inventory != null">inventory = #{inventory},</if>
            <if test="specs != null and specs != ''">specs = #{specs},</if>
            <if test="expire != null and expire != ''">expire = #{expire},</if>
            <if test="storage != null and storage != ''">storage = #{storage},</if>
            <if test="edible != null and edible != ''">edible = #{edible},</if>
            <if test="detail != null and detail != ''">detail = #{detail},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where products_id = #{productsId}
    </update>

    <delete id="deleteProductsByProductsId" parameterType="String">
        delete from products where products_id = #{productsId}
    </delete>

    <delete id="deleteProductsByProductsIds" parameterType="String">
        delete from products where products_id in
        <foreach item="productsId" collection="array" open="(" separator="," close=")">
            #{productsId}
        </foreach>
    </delete>

    <select id="selectProductsListByIds" resultMap="ProductsResult">
        SELECT * FROM products WHERE products_id IN
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
</mapper>
